.admin-panel,.accommodations-container {
    max-width: 900px;
    margin-block: 6%;
    margin-left: 5%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.priceHead {
    margin-block: 20px;
}
.priceCon label{
    color: blueviolet;
}