.speaker-list-container {
    width: 70%;
    /* margin: 2rem auto; */
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.items-table th,
.items-table td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: center;
}

.items-table th {
    background-color: #4CAF50;
    color: white;
}

.items-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.items-table tr:hover {
    background-color: #f1f1f1;
}

.item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    box-shadow: 1px 1px  3px rgba(0, 0, 0, 0.373);
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #d32f2f;
}
